 
      .keyboard {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


      }
      
      .key {
        width: 80px;
        height: 80px;
        border: 1px solid gray;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
      }
     .screen{
        background-color: whitesmoke;
        width: auto;
        height: 200px;
        border-radius: 20px;
     }
     body {
        background-color: gray;
     }
     .space {
        width: 800px;
     }
